{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 150,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.html", "options": { "parser": "angular" } }]
}
